<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>641478098498-7297l7u36spihcc3c5issh71bj7ogrea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641478098498-7297l7u36spihcc3c5issh71bj7ogrea</string>
	<key>API_KEY</key>
	<string>AIzaSyAtBUT86uf_XQqJlCRx0mwCiMRbveWAmY8</string>
	<key>GCM_SENDER_ID</key>
	<string>641478098498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ammachirisi.test</string>
	<key>PROJECT_ID</key>
	<string>api-project-641478098498</string>
	<key>STORAGE_BUCKET</key>
	<string>api-project-641478098498.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:641478098498:ios:f70095ce6a9e4997</string>
	<key>DATABASE_URL</key>
	<string>https://api-project-641478098498.firebaseio.com</string>
</dict>
</plist>